<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LRHBrowserPic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B40D3511C8EC57900551601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B40D36A1C8EC57900551601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B40D3751C8EC57900551601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
